@import "tailwindcss";

.thisis{
  font-size: 24px;
  color: #008C99;
  animation: bounce 2.5s infinite;
}


@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}
